<!-- <h1 class="head-text">User registration form</h1> -->

<!-- <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label>Input</mat-label>
        <input formControlName="name" matInput>
        <mat-error *ngIf="form.value.name" >invlid name</mat-error>
      </mat-form-field>

    <mat-form-field>
        <mat-label>email</mat-label>
        <input formControlName="email" matInput>
      </mat-form-field>

    <mat-form-field>
        <mat-label>website</mat-label>
        <input formControlName="website" matInput>
      </mat-form-field>

    <mat-form-field>
        <mat-label>companyName</mat-label>
        <input formControlName="companyName" matInput>
      </mat-form-field>
    <button type="submit" [disabled]="form.invalid" mat-button >Add User</button>
</form> -->